@font-face {
    font-family: 'aller_bd';
    src: url('../fonts/aller_bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_it';
    src: url('../fonts/aller_it.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lt';
    src: url('../fonts/aller_lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aller_rg';
    src: url('../fonts/aller_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}