html {
    background-color: #ebe7df;
}

body {
    min-width: 960px;
    font-family: 'aller_rg', 'aller_lt', 'aller_it', 'aller_bd';
    color: #242424;
}

h1 {
    font-family: "Aller_Lt";
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font: 25px / 60px 'aller_lt';
}

h3 {
    font: 18px / 25px 'aller_rg';
}

h4 {
    font: 14px / 60px 'aller_bd';
}

h5 {
    font: 14px / 16px 'aller_bd';
}

p {
    font: 20px / 25px 'aller_lt';
}

header {
    margin: 0 auto;
    height: 105px;
    width: 960px;
    background-color: #ffffff;
}

.slider {
    margin: 0 auto;
    height: 460px;
    width: 960px;
}

.specials {
    margin: 0 auto;
    height: 230px;
    width: 960px;
    background-color: #242424;
}

.products {
    margin: 0 auto;
    height: 328px;
    width: 960px;
    margin-top: 29px;
    margin-bottom: 31px;
}

.addon {
    margin: 0 auto;
    height: 212px;
    width: 940px;
    margin-top: 12px;
    margin-bottom: 22px;
    border-top: 1px solid #bcb5a7;
}

footer {
    margin: 0 auto;
    height: 455px;
    width: 940px;
    background-color: #242424;
}

.prefooter {
    height: 248px;
    border-bottom: 1px solid #1c1c1c;
}

.footer-social {
    height: 117px;
}